# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'atom-sharp':
        'Enable atom-sharp': 'atom-sharper:toggle'
        'Find Usages': 'atom-sharper:find-usages'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-sharper'
      'submenu': [
        { 'label': 'Toggle', 'command': 'atom-sharper:toggle' }
        { 'label': 'Find Usages', 'command': 'atom-sharper:find-usages' }
        { 'label': 'Go to definition', 'command': 'atom-sharper:go-to-definition' }
      ]
    ]
  }
]
