# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable atom-sharp': 'atom-sharp:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-sharp'
      'submenu': [
        { 'label': 'Toggle', 'command': 'atom-sharp:toggle' }
      ]
    ]
  }
]
